
<div class="col-lg-12 mt">
    <div class="row content-panel" style="padding-left: 20px; padding-right: 20px">
        <h3 style="color: #29AAE3"><i class="fa fa-check-square-o" style="margin-right: 4px"></i>CFR Statistics</h3>
        <div class="panel-heading">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a data-toggle="tab" href="#mortgage">Mortgage</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#insurance" class="contact-map">Insurance</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#patientrecruitment" class="contact-map">Patient Recruitment</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#sales" class="contact-map">Sales</a>
                </li>
            </ul>
        </div><!-- --/panel-heading ---->
        <div class="panel-body">
            <div class="tab-content">
                <div id="mortgage" class="tab-pane active">
                    <h3 style="color: #29AAE3; margin-left: 0px; margin-bottom: 60px; text-align: center"><i class="fa fa-edit" style="margin-right: 8px"></i><strong style="color: #FE5607">@ViewBag.mtgCFR</strong> Mortgage CFRs</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Etiquette</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mTE1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mTE1yes</span><span>% YES</span><br />
                            <span>@ViewBag.mTE1no</span><span>% NO</span><br />
                            <span>@ViewBag.mTE1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mTE2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mTE2yes</span><span>% YES</span><br />
                            <span>@ViewBag.mTE2no</span><span>% NO</span><br />
                            <span>@ViewBag.mTE2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mTE3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mTE3yes</span><span>% YES</span><br />
                            <span>@ViewBag.mTE3no</span><span>% NO</span><br />
                            <span>@ViewBag.mTE3na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q4</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mTE4" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mTE4yes</span><span>% YES</span><br />
                            <span>@ViewBag.mTE4no</span><span>% NO</span><br />
                            <span>@ViewBag.mTE4na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q5</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mTE5" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mTE5yes</span><span>% YES</span><br />
                            <span>@ViewBag.mTE5no</span><span>% NO</span><br />
                            <span>@ViewBag.mTE5na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="mTE" height="300" width="700" style="margin-top: 100px"></canvas>
                            <script>
                                var barChartData = {
                                    labels: ["Q1", "Q2", "Q3", "Q4", "Q5"],
                                    datasets: [
                                    {
                                        fillColor: "#29AAE3",
                                        strokeColor: "rgba(220,220,220,1)",
                                        data: [@ViewBag.mTE1yes, @ViewBag.mTE2yes, @ViewBag.mTE3yes, @ViewBag.mTE4yes, @ViewBag.mTE5yes]
                                    },
                                    {
                                        fillColor: "#FE5607",
                                        strokeColor: "rgba(151,187,205,1)",
                                        data: [@ViewBag.mTE1no, @ViewBag.mTE2no, @ViewBag.mTE3no, @ViewBag.mTE4no, @ViewBag.mTE5no]
                                    },
                                    {
                                        fillColor: "#031B25",
                                        strokeColor: "rgba(151,187,205,1)",
                                        data: [@ViewBag.mTE1na, @ViewBag.mTE2na, @ViewBag.mTE3na, @ViewBag.mTE4na, @ViewBag.mTE5na]
                                    }
                                    ]
                                };
                                new Chart(document.getElementById("mTE").getContext("2d")).Bar(barChartData);
                            </script>                      
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Professionalism</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mP1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mP1yes</span><span>% YES</span><br />
                            <span>@ViewBag.mP1no</span><span>% NO</span><br />
                            <span>@ViewBag.mP1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mP2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mP2yes</span><span>% YES</span><br />
                            <span>@ViewBag.mP2no</span><span>% NO</span><br />
                            <span>@ViewBag.mP2na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="mP" height="300" width="400" style="margin-top: 10px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.mP1yes, @ViewBag.mP2yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.mP1no, @ViewBag.mP2no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.mP1na, @ViewBag.mP2na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("mP").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Compliance</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mC1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mC1yes</span><span>% YES</span><br />
                            <span>@ViewBag.mC1no</span><span>% NO</span><br />
                            <span>@ViewBag.mC1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mC2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mC2yes</span><span>% YES</span><br />
                            <span>@ViewBag.mC2no</span><span>% NO</span><br />
                            <span>@ViewBag.mC2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mC3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mC3yes</span><span>% YES</span><br />
                            <span>@ViewBag.mC3no</span><span>% NO</span><br />
                            <span>@ViewBag.mC3na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="mC" height="300" width="500" style="margin-top: 20px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2", "Q3"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.mC1yes, @ViewBag.mC2yes, @ViewBag.mC3yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.mC1no, @ViewBag.mC2no, @ViewBag.mC3no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.mC1na, @ViewBag.mC2na, @ViewBag.mC3na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("mC").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Adherence</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mA1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mA1yes</span><span>% YES</span><br />
                            <span>@ViewBag.mA1no</span><span>% NO</span><br />
                            <span>@ViewBag.mA1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mA2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mA2yes</span><span>% YES</span><br />
                            <span>@ViewBag.mA2no</span><span>% NO</span><br />
                            <span>@ViewBag.mA2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mA3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mA3yes</span><span>% YES</span><br />
                            <span>@ViewBag.mA3no</span><span>% NO</span><br />
                            <span>@ViewBag.mA3na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q4</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mA4" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mA4yes</span><span>% YES</span><br />
                            <span>@ViewBag.mA4no</span><span>% NO</span><br />
                            <span>@ViewBag.mA4na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q5</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mA5" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mA5yes</span><span>% YES</span><br />
                            <span>@ViewBag.mA5no</span><span>% NO</span><br />
                            <span>@ViewBag.mA5na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="mA" height="300" width="700" style="margin-top: 100px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2", "Q3", "Q4", "Q5"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.mA1yes, @ViewBag.mA2yes, @ViewBag.mA3yes, @ViewBag.mA4yes, @ViewBag.mA5yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.mA1no, @ViewBag.mA2no, @ViewBag.mA3no, @ViewBag.mA4no, @ViewBag.mA5no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.mA1na, @ViewBag.mA2na, @ViewBag.mA3na, @ViewBag.mA4na, @ViewBag.mA5na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("mA").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Accuracy</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mAOI1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mAOI1yes</span><span>% YES</span><br />
                            <span>@ViewBag.mAOI1no</span><span>% NO</span><br />
                            <span>@ViewBag.mAOI1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mAOI2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mAOI2yes</span><span>% YES</span><br />
                            <span>@ViewBag.mAOI2no</span><span>% NO</span><br />
                            <span>@ViewBag.mAOI2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mAOI3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mAOI3yes</span><span>% YES</span><br />
                            <span>@ViewBag.mAOI3no</span><span>% NO</span><br />
                            <span>@ViewBag.mAOI3na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q4</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.mAOI4" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.mAOI4yes</span><span>% YES</span><br />
                            <span>@ViewBag.mAOI4no</span><span>% NO</span><br />
                            <span>@ViewBag.mAOI4na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="mAOI" height="300" width="600" style="margin-top: 80px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2", "Q3", "Q4"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.mAOI1yes, @ViewBag.mAOI2yes, @ViewBag.mAOI3yes, @ViewBag.mAOI4yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.mAOI1no, @ViewBag.mAOI2no, @ViewBag.mAOI3no, @ViewBag.mAOI4no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.mAOI1na, @ViewBag.mAOI2na, @ViewBag.mAOI3na, @ViewBag.mAOI4na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("mAOI").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>                       
                </div>

                <div id="insurance" class="tab-pane">
                    <h3 style="color: #29AAE3; margin-left: 0px; margin-bottom: 60px; text-align: center"><i class="fa fa-edit" style="margin-right: 8px"></i><strong style="color: #FE5607">@ViewBag.insCFR</strong> Insurance CFRs</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Etiquette</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iTE1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iTE1yes</span><span>% YES</span><br />
                            <span>@ViewBag.iTE1no</span><span>% NO</span><br />
                            <span>@ViewBag.iTE1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iTE2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iTE2yes</span><span>% YES</span><br />
                            <span>@ViewBag.iTE2no</span><span>% NO</span><br />
                            <span>@ViewBag.iTE2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iTE3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iTE3yes</span><span>% YES</span><br />
                            <span>@ViewBag.iTE3no</span><span>% NO</span><br />
                            <span>@ViewBag.iTE3na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q4</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iTE4" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iTE4yes</span><span>% YES</span><br />
                            <span>@ViewBag.iTE4no</span><span>% NO</span><br />
                            <span>@ViewBag.iTE4na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q5</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iTE5" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iTE5yes</span><span>% YES</span><br />
                            <span>@ViewBag.iTE5no</span><span>% NO</span><br />
                            <span>@ViewBag.iTE5na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="iTE" height="300" width="700" style="margin-top: 100px"></canvas>
                            <script>
                                var barChartData = {
                                    labels: ["Q1", "Q2", "Q3", "Q4", "Q5"],
                                    datasets: [
                                    {
                                        fillColor: "#29AAE3",
                                        strokeColor: "rgba(220,220,220,1)",
                                        data: [@ViewBag.iTE1yes, @ViewBag.iTE2yes, @ViewBag.iTE3yes, @ViewBag.iTE4yes, @ViewBag.iTE5yes]
                                    },
                                    {
                                        fillColor: "#FE5607",
                                        strokeColor: "rgba(151,187,205,1)",
                                        data: [@ViewBag.iTE1no, @ViewBag.iTE2no, @ViewBag.iTE3no, @ViewBag.iTE4no, @ViewBag.iTE5no]
                                    },
                                    {
                                        fillColor: "#031B25",
                                        strokeColor: "rgba(151,187,205,1)",
                                        data: [@ViewBag.iTE1na, @ViewBag.iTE2na, @ViewBag.iTE3na, @ViewBag.iTE4na, @ViewBag.iTE5na]
                                    }
                                    ]
                                };
                                new Chart(document.getElementById("iTE").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Professionalism</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iP1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iP1yes</span><span>% YES</span><br />
                            <span>@ViewBag.iP1no</span><span>% NO</span><br />
                            <span>@ViewBag.iP1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iP2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iP2yes</span><span>% YES</span><br />
                            <span>@ViewBag.iP2no</span><span>% NO</span><br />
                            <span>@ViewBag.iP2na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="iP" height="300" width="400" style="margin-top: 10px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.iP1yes, @ViewBag.iP2yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.iP1no, @ViewBag.iP2no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.iP1na, @ViewBag.iP2na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("iP").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Compliance</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iC1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iC1yes</span><span>% YES</span><br />
                            <span>@ViewBag.iC1no</span><span>% NO</span><br />
                            <span>@ViewBag.iC1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iC2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iC2yes</span><span>% YES</span><br />
                            <span>@ViewBag.iC2no</span><span>% NO</span><br />
                            <span>@ViewBag.iC2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iC3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iC3yes</span><span>% YES</span><br />
                            <span>@ViewBag.iC3no</span><span>% NO</span><br />
                            <span>@ViewBag.iC3na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="iC" height="300" width="500" style="margin-top: 20px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2", "Q3"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.iC1yes, @ViewBag.iC2yes, @ViewBag.iC3yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.iC1no, @ViewBag.iC2no, @ViewBag.iC3no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.iC1na, @ViewBag.iC2na, @ViewBag.iC3na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("iC").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Adherence</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iA1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iA1yes</span><span>% YES</span><br />
                            <span>@ViewBag.iA1no</span><span>% NO</span><br />
                            <span>@ViewBag.iA1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iA2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iA2yes</span><span>% YES</span><br />
                            <span>@ViewBag.iA2no</span><span>% NO</span><br />
                            <span>@ViewBag.iA2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iA3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iA3yes</span><span>% YES</span><br />
                            <span>@ViewBag.iA3no</span><span>% NO</span><br />
                            <span>@ViewBag.iA3na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q4</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iA4" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iA4yes</span><span>% YES</span><br />
                            <span>@ViewBag.iA4no</span><span>% NO</span><br />
                            <span>@ViewBag.iA4na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q5</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iA5" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iA5yes</span><span>% YES</span><br />
                            <span>@ViewBag.iA5no</span><span>% NO</span><br />
                            <span>@ViewBag.iA5na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="iA" height="300" width="700" style="margin-top: 100px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2", "Q3", "Q4", "Q5"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.iA1yes, @ViewBag.iA2yes, @ViewBag.iA3yes, @ViewBag.iA4yes, @ViewBag.iA5yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.iA1no, @ViewBag.iA2no, @ViewBag.iA3no, @ViewBag.iA4no, @ViewBag.iA5no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.iA1na, @ViewBag.iA2na, @ViewBag.iA3na, @ViewBag.iA4na, @ViewBag.iA5na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("iA").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Accuracy</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iAOI1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iAOI1yes</span><span>% YES</span><br />
                            <span>@ViewBag.iAOI1no</span><span>% NO</span><br />
                            <span>@ViewBag.iAOI1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iAOI2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iAOI2yes</span><span>% YES</span><br />
                            <span>@ViewBag.iAOI2no</span><span>% NO</span><br />
                            <span>@ViewBag.iAOI2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iAOI3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iAOI3yes</span><span>% YES</span><br />
                            <span>@ViewBag.iAOI3no</span><span>% NO</span><br />
                            <span>@ViewBag.iAOI3na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q4</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iAOI4" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iAOI4yes</span><span>% YES</span><br />
                            <span>@ViewBag.iAOI4no</span><span>% NO</span><br />
                            <span>@ViewBag.iAOI4na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q5</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.iAOI5" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.iAOI5yes</span><span>% YES</span><br />
                            <span>@ViewBag.iAOI5no</span><span>% NO</span><br />
                            <span>@ViewBag.iAOI5na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="iAOI" height="300" width="700" style="margin-top: 100px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2", "Q3", "Q4", "Q5"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.iAOI1yes, @ViewBag.iAOI2yes, @ViewBag.iAOI3yes, @ViewBag.iAOI4yes, @ViewBag.iAOI5yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.iAOI1no, @ViewBag.iAOI2no, @ViewBag.iAOI3no, @ViewBag.iAOI4no, @ViewBag.iAOI5no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.iAOI1na, @ViewBag.iAOI2na, @ViewBag.iAOI3na, @ViewBag.iAOI4na, @ViewBag.iAOI5na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("iAOI").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>                                  
                </div>

                <div id="patientrecruitment" class="tab-pane">
                    <h3 style="color: #29AAE3; margin-left: 0px; margin-bottom: 60px; text-align: center"><i class="fa fa-edit" style="margin-right: 8px"></i><strong style="color: #FE5607">@ViewBag.prCFR</strong> Patient Recruitment CFRs</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Etiquette</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pTE1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pTE1yes</span><span>% YES</span><br />
                            <span>@ViewBag.pTE1no</span><span>% NO</span><br />
                            <span>@ViewBag.pTE1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pTE2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pTE2yes</span><span>% YES</span><br />
                            <span>@ViewBag.pTE2no</span><span>% NO</span><br />
                            <span>@ViewBag.pTE2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pTE3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pTE3yes</span><span>% YES</span><br />
                            <span>@ViewBag.pTE3no</span><span>% NO</span><br />
                            <span>@ViewBag.pTE3na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="pTE" height="300" width="500" style="margin-top: 20px"></canvas>
                            <script>
                                var barChartData = {
                                    labels: ["Q1", "Q2", "Q3"],
                                    datasets: [
                                    {
                                        fillColor: "#29AAE3",
                                        strokeColor: "rgba(220,220,220,1)",
                                        data: [@ViewBag.pTE1yes, @ViewBag.pTE2yes, @ViewBag.pTE3yes]
                                    },
                                    {
                                        fillColor: "#FE5607",
                                        strokeColor: "rgba(151,187,205,1)",
                                        data: [@ViewBag.pTE1no, @ViewBag.pTE2no, @ViewBag.pTE3no]
                                    },
                                    {
                                        fillColor: "#031B25",
                                        strokeColor: "rgba(151,187,205,1)",
                                        data: [@ViewBag.pTE1na, @ViewBag.pTE2na, @ViewBag.pTE3na]
                                    }
                                    ]
                                };
                                new Chart(document.getElementById("pTE").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Professionalism</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pP1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pP1yes</span><span>% YES</span><br />
                            <span>@ViewBag.pP1no</span><span>% NO</span><br />
                            <span>@ViewBag.pP1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pP2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pP2yes</span><span>% YES</span><br />
                            <span>@ViewBag.pP2no</span><span>% NO</span><br />
                            <span>@ViewBag.pP2na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="pP" height="300" width="400" style="margin-top: 10px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.pP1yes, @ViewBag.pP2yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.pP1no, @ViewBag.pP2no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.pP1na, @ViewBag.pP2na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("pP").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Compliance</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pC1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pC1yes</span><span>% YES</span><br />
                            <span>@ViewBag.pC1no</span><span>% NO</span><br />
                            <span>@ViewBag.pC1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pC2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pC2yes</span><span>% YES</span><br />
                            <span>@ViewBag.pC2no</span><span>% NO</span><br />
                            <span>@ViewBag.pC2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pC3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pC3yes</span><span>% YES</span><br />
                            <span>@ViewBag.pC3no</span><span>% NO</span><br />
                            <span>@ViewBag.pC3na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q4</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pC4" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pC4yes</span><span>% YES</span><br />
                            <span>@ViewBag.pC4no</span><span>% NO</span><br />
                            <span>@ViewBag.pC4na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q5</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pC5" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pC5yes</span><span>% YES</span><br />
                            <span>@ViewBag.pC5no</span><span>% NO</span><br />
                            <span>@ViewBag.pC5na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="pC" height="300" width="700" style="margin-top: 100px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2", "Q3", "Q4", "Q5"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.pC1yes, @ViewBag.pC2yes, @ViewBag.pC3yes, @ViewBag.pC4yes, @ViewBag.pC5yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.pC1no, @ViewBag.pC2no, @ViewBag.pC3no, @ViewBag.pC4no, @ViewBag.pC5no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.pC1na, @ViewBag.pC2na, @ViewBag.pC3na, @ViewBag.pC4na, @ViewBag.pC5na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("pC").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Adherence</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pA1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pA1yes</span><span>% YES</span><br />
                            <span>@ViewBag.pA1no</span><span>% NO</span><br />
                            <span>@ViewBag.pA1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pA2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pA2yes</span><span>% YES</span><br />
                            <span>@ViewBag.pA2no</span><span>% NO</span><br />
                            <span>@ViewBag.pA2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pA3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pA3yes</span><span>% YES</span><br />
                            <span>@ViewBag.pA3no</span><span>% NO</span><br />
                            <span>@ViewBag.pA3na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q4</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pA4" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pA4yes</span><span>% YES</span><br />
                            <span>@ViewBag.pA4no</span><span>% NO</span><br />
                            <span>@ViewBag.pA4na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q5</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pA5" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pA5yes</span><span>% YES</span><br />
                            <span>@ViewBag.pA5no</span><span>% NO</span><br />
                            <span>@ViewBag.pA5na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="pA" height="300" width="700" style="margin-top: 100px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2", "Q3", "Q4", "Q5"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.pA1yes, @ViewBag.pA2yes, @ViewBag.pA3yes, @ViewBag.pA4yes, @ViewBag.pA5yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.pA1no, @ViewBag.pA2no, @ViewBag.pA3no, @ViewBag.pA4no, @ViewBag.pA5no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.pA1na, @ViewBag.pA2na, @ViewBag.pA3na, @ViewBag.pA4na, @ViewBag.pA5na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("pA").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Accuracy</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pAOI1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pAOI1yes</span><span>% YES</span><br />
                            <span>@ViewBag.pAOI1no</span><span>% NO</span><br />
                            <span>@ViewBag.pAOI1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.pAOI2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.pAOI2yes</span><span>% YES</span><br />
                            <span>@ViewBag.pAOI2no</span><span>% NO</span><br />
                            <span>@ViewBag.pAOI2na</span><span>% N/A</span><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="pAOI" height="300" width="400" style="margin-top: 10px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.pAOI1yes, @ViewBag.pAOI2yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.pAOI1no, @ViewBag.pAOI2no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.pAOI1na, @ViewBag.pAOI2na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("pAOI").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>    
                </div>

                <div id="sales" class="tab-pane">
                    <h3 style="color: #29AAE3; margin-left: 0px; margin-bottom: 60px; text-align: center"><i class="fa fa-edit" style="margin-right: 8px"></i><strong style="color: #FE5607">@ViewBag.slsCFR</strong> Sales CFRs</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Etiquette</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sTE1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sTE1yes</span><span>% YES</span><br />
                            <span>@ViewBag.sTE1no</span><span>% NO</span><br />
                            <span>@ViewBag.sTE1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sTE2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sTE2yes</span><span>% YES</span><br />
                            <span>@ViewBag.sTE2no</span><span>% NO</span><br />
                            <span>@ViewBag.sTE2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sTE3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sTE3yes</span><span>% YES</span><br />
                            <span>@ViewBag.sTE3no</span><span>% NO</span><br />
                            <span>@ViewBag.sTE3na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q4</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sTE4" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sTE4yes</span><span>% YES</span><br />
                            <span>@ViewBag.sTE4no</span><span>% NO</span><br />
                            <span>@ViewBag.sTE4na</span><span>% N/A</span><br /><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="sTE" height="300" width="700" style="margin-top: 100px"></canvas>
                            <script>
                                var barChartData = {
                                    labels: ["Q1", "Q2", "Q3", "Q4"],
                                    datasets: [
                                    {
                                        fillColor: "#29AAE3",
                                        strokeColor: "rgba(220,220,220,1)",
                                        data: [@ViewBag.sTE1yes, @ViewBag.sTE2yes, @ViewBag.sTE3yes, @ViewBag.sTE4yes]
                                    },
                                    {
                                        fillColor: "#FE5607",
                                        strokeColor: "rgba(151,187,205,1)",
                                        data: [@ViewBag.sTE1no, @ViewBag.sTE2no, @ViewBag.sTE3no, @ViewBag.sTE4no]
                                    },
                                    {
                                        fillColor: "#031B25",
                                        strokeColor: "rgba(151,187,205,1)",
                                        data: [@ViewBag.sTE1na, @ViewBag.sTE2na, @ViewBag.sTE3na, @ViewBag.sTE4na]
                                    }
                                    ]
                                };
                                new Chart(document.getElementById("sTE").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Professionalism</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sP1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sP1yes</span><span>% YES</span><br />
                            <span>@ViewBag.sP1no</span><span>% NO</span><br />
                            <span>@ViewBag.sP1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sP2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sP2yes</span><span>% YES</span><br />
                            <span>@ViewBag.sP2no</span><span>% NO</span><br />
                            <span>@ViewBag.sP2na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q3</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sP3" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sP3yes</span><span>% YES</span><br />
                            <span>@ViewBag.sP3no</span><span>% NO</span><br />
                            <span>@ViewBag.sP3na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q4</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sP4" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sP4yes</span><span>% YES</span><br />
                            <span>@ViewBag.sP4no</span><span>% NO</span><br />
                            <span>@ViewBag.sP4na</span><span>% N/A</span><br /><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="sP" height="300" width="700" style="margin-top: 100px"></canvas>
                            <script>
                                var barChartData = {
                                    labels: ["Q1", "Q2", "Q3", "Q4"],
                                    datasets: [
                                    {
                                        fillColor: "#29AAE3",
                                        strokeColor: "rgba(220,220,220,1)",
                                        data: [@ViewBag.sP1yes, @ViewBag.sP2yes, @ViewBag.sP3yes, @ViewBag.sP4yes]
                                    },
                                    {
                                        fillColor: "#FE5607",
                                        strokeColor: "rgba(151,187,205,1)",
                                        data: [@ViewBag.sP1no, @ViewBag.sP2no, @ViewBag.sP3no, @ViewBag.sP4no]
                                    },
                                    {
                                        fillColor: "#031B25",
                                        strokeColor: "rgba(151,187,205,1)",
                                        data: [@ViewBag.sP1na, @ViewBag.sP2na, @ViewBag.sP3na, @ViewBag.sP4na]
                                    }
                                    ]
                                };
                                new Chart(document.getElementById("sP").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Compliance</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sC1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sC1yes</span><span>% YES</span><br />
                            <span>@ViewBag.sC1no</span><span>% NO</span><br />
                            <span>@ViewBag.sC1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sC2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sC2yes</span><span>% YES</span><br />
                            <span>@ViewBag.sC2no</span><span>% NO</span><br />
                            <span>@ViewBag.sC2na</span><span>% N/A</span><br /><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="sC" height="300" width="400" style="margin-top: 20px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.sC1yes, @ViewBag.sC2yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.sC1no, @ViewBag.sC2no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.sC1na, @ViewBag.sC2na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("sC").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Adherence</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sA1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sA1yes</span><span>% YES</span><br />
                            <span>@ViewBag.sA1no</span><span>% NO</span><br />
                            <span>@ViewBag.sA1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sA2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sA2yes</span><span>% YES</span><br />
                            <span>@ViewBag.sA2no</span><span>% NO</span><br />
                            <span>@ViewBag.sA2na</span><span>% N/A</span><br /><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="sA" height="300" width="400" style="margin-top: 20px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.sA1yes, @ViewBag.sA2yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.sA1no, @ViewBag.sA2no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.sA1na, @ViewBag.sA2na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("sA").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h3 style="color: #29AAE3"><strong>Accuracy</strong></h3>
                            <p style="color: #031B25"><strong>Q1</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sAOI1" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sAOI1yes</span><span>% YES</span><br />
                            <span>@ViewBag.sAOI1no</span><span>% NO</span><br />
                            <span>@ViewBag.sAOI1na</span><span>% N/A</span><br /><br />
                            <p style="color: #031B25"><strong>Q2</strong><i class="fa fa-question-circle tooltips" style="color: #29AAE3; margin-left: 5px" data-original-title="@ViewBag.sAOI2" data-html="true" data-toggle="tooltip" data-placement="right"></i></p>
                            <span>@ViewBag.sAOI2yes</span><span>% YES</span><br />
                            <span>@ViewBag.sAOI2no</span><span>% NO</span><br />
                            <span>@ViewBag.sAOI2na</span><span>% N/A</span><br /><br />
                        </div>
                        <div class="col-md-8" style="text-align: center">
                            <canvas id="sAOI" height="300" width="400" style="margin-top: 20px"></canvas>
                            <script>
                                    var barChartData = {
                                        labels: ["Q1", "Q2"],
                                        datasets: [
                                        {
                                            fillColor: "#29AAE3",
                                            strokeColor: "rgba(220,220,220,1)",
                                            data: [@ViewBag.sAOI1yes, @ViewBag.sAOI2yes]
                                        },
                                        {
                                            fillColor: "#FE5607",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.sAOI1no, @ViewBag.sAOI2no]
                                        },
                                        {
                                            fillColor: "#031B25",
                                            strokeColor: "rgba(151,187,205,1)",
                                            data: [@ViewBag.sAOI1na, @ViewBag.sAOI2na]
                                        }
                                        ]
                                    };
                                    new Chart(document.getElementById("sAOI").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <p style="padding-bottom: 5px; margin-top: 30px">
            @Html.ActionLink("Back to Reporting", "Index", "Reporting")
        </p>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#report').addClass("active");

            $('.hr-table').DataTable({
                "iDisplayLength": 5,
                "aaSorting": [],
                "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            });
        });
    </script>
}