@model AS_TestProject.Entities.CFRInsurance

@{
    ViewBag.Title = "Delete";
}

<div class="col-lg-12 mt">
    <div class="row content-panel" style="padding-left: 20px; padding-right: 20px">
        <h2>Are you sure you want to delete this Insurance CFR for <span style="color: #29AAE3">@Model.Employee1.FirstName @Model.Employee1.LastName</span>?</h2>
        <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Date
                </dt>

                <dd>
                    @Model.DateOfFeedback.ToString("g")
                </dd>

                <dt>
                    Submitted By
                </dt>

                <dd>
                    @Model.Employee.FirstName @Model.Employee.LastName
                </dd>

                <dt>
                    Domain
                </dt>

                <dd>
                    @Model.DomainMaster.FileMask - @Model.DomainMaster.DomainName
                </dd>

                <dt>
                    #Calls
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.C_Calls)
                </dd>

                @*<dt>
                        Today's Conversion Rate
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ConversionRateToday)
                    </dd>

                    <dt>
                        Week To Date Conversion Rate
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WeekToDate)
                    </dd>*@

                <dt><strong>Telephone Etiquette Rating: </strong><strong style="color: #29AAE3">@Html.DisplayFor(model => model.CFRPerformanceAnalysi4.PerformanceRating)</strong></dt>
                <dd></dd>

                <dt>
                    Does the CSR state "Hello" and pause to identify gender?
                </dt>

                @if (Model.iTEQ1 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iTEQ1 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iTEQ1 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR state the contact name assumptively without asking a question?
                </dt>

                @if (Model.iTEQ2 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iTEQ2 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iTEQ2 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR state the website of inquiry (if applicable)?
                </dt>

                @if (Model.iTEQ3 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iTEQ3 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iTEQ3 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR transition into the script without hesitation?
                </dt>

                @if (Model.iTEQ4 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iTEQ4 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iTEQ4 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR display confidence and clarity throughout the call?
                </dt>

                @if (Model.iTEQ5 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iTEQ5 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iTEQ5 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt><strong>Professionalism Rating: </strong><strong style="color: #29AAE3">@Html.DisplayFor(model => model.CFRPerformanceAnalysi3.PerformanceRating)</strong></dt>
                <dd></dd>

                <dt>
                    Does the CSR speak with a delivery rate that is clearly understood?
                </dt>

                @if (Model.iPQ1 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iPQ1 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iPQ1 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR convey a sense of empathy and have a professional tone?
                </dt>

                @if (Model.iPQ2 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iPQ2 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iPQ2 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt><strong>Compliance Rating: </strong><strong style="color: #29AAE3">@Html.DisplayFor(model => model.CFRPerformanceAnalysi2.PerformanceRating)</strong></dt>
                <dd></dd>

                <dt>
                    Does the CSR identify him/herself with confidence using first and last name?
                </dt>

                @if (Model.iCQ1 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iCQ1 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iCQ1 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR state that he/she is calling on a recorded line?
                </dt>

                @if (Model.iCQ2 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iCQ2 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iCQ2 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR avoid prohibited references to rates?
                </dt>

                @if (Model.iCQ3 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iCQ3 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iCQ3 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt><strong>Adherence Rating: </strong><strong style="color: #29AAE3">@Html.DisplayFor(model => model.CFRPerformanceAnalysi1.PerformanceRating)</strong></dt>
                <dd></dd>

                <dt>
                    Does the CSR state the name of the insurance agency?
                </dt>

                @if (Model.iAQ1 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iAQ1 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iAQ1 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR listen carefully to the answers provided by the contact?
                </dt>

                @if (Model.iAQ2 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iAQ2 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iAQ2 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR provide a soft rebuttal when necessary?
                </dt>

                @if (Model.iAQ3 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iAQ3 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iAQ4 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR use all 3 steps of the rebuttal process? (T.Phrase, Rebuttal, Close)
                </dt>

                @if (Model.iAQ4 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iAQ4 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iAQ4 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR exercise good judgement based on the answers to ensure excellent quality?
                </dt>

                @if (Model.iAQ5 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iAQ5 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iAQ5 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt><strong>Accuracy of Information Rating: </strong><strong style="color: #29AAE3">@Html.DisplayFor(model => model.CFRPerformanceAnalysi.PerformanceRating)</strong></dt>
                <dd></dd>

                <dt>
                    Does the CSR communicate all information to the Insurance Agent in a professional tone?
                </dt>

                @if (Model.iAOIQ1 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iAOIQ1 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iAOIQ1 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR introduce the Agent to the customer?
                </dt>

                @if (Model.iAOIQ2 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iAOIQ2 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iAOIQ2 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR ask for a bilingual speaking Agent when necessary?
                </dt>

                @if (Model.iAOIQ3 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iAOIQ3 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iAOIQ3 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR connect to the correct department?
                </dt>

                @if (Model.iAOIQ4 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iAOIQ4 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iAOIQ4 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR select the correct disposition?
                </dt>

                @if (Model.iAOIQ5 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.iAOIQ5 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.iAOIQ5 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt><strong>Additional Information</strong></dt>
                <dd></dd>

                <dt>
                    Comments
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comments)
                </dd>

                <dt>
                    Strengths
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Strengths)
                </dd>

                <dt>
                    Action Plan
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActionPlan)
                </dd>
                <br />
                <dd>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.CFRInsuranceID)
                        <input type="submit" value="Delete" class="btn btn-theme" />
                    }
                </dd>
            </dl>
            <div class="form-actions no-color" style="padding-bottom: 5px">
                @Html.ActionLink("Edit", "InsuranceCFR_Edit", new { id = Model.CFRInsuranceID }) |
                @Html.ActionLink("Back to Employee Details", "Details", new { id = Model.EmployeeID })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#direct').addClass("active");
        });
    </script>
}