@model AS_TestProject.Entities.CFRPatientRecruitment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CFRPatientRecruitment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C_Calls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Calls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConversionRateToday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConversionRateToday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strengths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strengths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfFeedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfFeedback)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomainMaster.DomainName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomainMaster.DomainName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee1.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey1.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey1.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey2.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey2.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey3.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey3.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey4.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey4.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey5.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey5.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey6.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey6.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey7.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey7.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey8.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey8.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey9.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey9.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey10.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey10.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey11.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey11.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey12.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey12.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey13.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey13.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey14.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey14.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey15.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey15.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerKey16.AnswerOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerKey16.AnswerOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFRPerformanceAnalysi.PerformanceRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFRPerformanceAnalysi.PerformanceRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFRPerformanceAnalysi1.PerformanceRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFRPerformanceAnalysi1.PerformanceRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFRPerformanceAnalysi2.PerformanceRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFRPerformanceAnalysi2.PerformanceRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFRPerformanceAnalysi3.PerformanceRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFRPerformanceAnalysi3.PerformanceRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFRPerformanceAnalysi4.PerformanceRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFRPerformanceAnalysi4.PerformanceRating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CFRPatientRecruitmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
