@model AS_TestProject.Entities.CFRPatientRecruitment

@{
    ViewBag.Title = "Details";
}

<div class="col-lg-12 mt">
    <div class="row content-panel" style="padding-left: 20px; padding-right: 20px">
        <h2>Patient Recruitment CFR Details for <span style="color: #29AAE3">@Model.Employee1.FirstName @Model.Employee1.LastName</span></h2>
        <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Date
                </dt>

                <dd>
                    @Model.DateOfFeedback.ToString("g")
                </dd>

                <dt>
                    Submitted By
                </dt>

                <dd>
                    @Model.Employee.FirstName @Model.Employee.LastName
                </dd>

                <dt>
                    Domain
                </dt>

                <dd>
                    @Model.DomainMaster.FileMask - @Model.DomainMaster.DomainName
                </dd>

                <dt>
                    #Calls
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.C_Calls)
                </dd>

                @*<dt>
                        Today's Conversion Rate
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ConversionRateToday)
                    </dd>

                    <dt>
                        Week To Date Conversion Rate
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WeekToDate)
                    </dd>*@

                <dt><strong>Telephone Etiquette Rating: </strong><strong style="color: #29AAE3">@Html.DisplayFor(model => model.CFRPerformanceAnalysi4.PerformanceRating)</strong></dt>
                <dd></dd>

                <dt>
                    Does the CSR ask if the contact name is available with clarity?
                </dt>

                @if (Model.pTEQ1 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pTEQ1 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pTEQ1 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR transition into the script without hesitation?
                </dt>

                @if (Model.pTEQ2 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pTEQ2 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pTEQ2 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR display confidence and clarity throughout the call?
                </dt>

                @if (Model.pTEQ3 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pTEQ3 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pTEQ3 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt><strong>Professionalism Rating: </strong><strong style="color: #29AAE3">@Html.DisplayFor(model => model.CFRPerformanceAnalysi3.PerformanceRating)</strong></dt>
                <dd></dd>

                <dt>
                    Does the CSR speak with a delivery rate that is clearly understood?
                </dt>

                @if (Model.pPQ1 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pPQ1 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pPQ1 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR convey a sense of empathy and have a professional tone?
                </dt>

                @if (Model.pPQ2 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pPQ2 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pPQ2 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt><strong>Compliance Rating: </strong><strong style="color: #29AAE3">@Html.DisplayFor(model => model.CFRPerformanceAnalysi2.PerformanceRating)</strong></dt>
                <dd></dd>

                <dt>
                    Does the CSR identify him/herself with confidence using first and last name?
                </dt>

                @if (Model.pCQ1 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pCQ1 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pCQ1 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR state that he/she is calling on a recorded line?
                </dt>

                @if (Model.pCQ2 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pCQ2 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pCQ2 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR follow HIPAA compliance procedures and state the full privacy policy?
                </dt>

                @if (Model.pCQ3 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pCQ3 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pCQ3 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR refer to the FAQ's link and training binder correctly?
                </dt>

                @if (Model.pCQ4 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pCQ4 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pCQ4 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR avoid prohibited statements about trail status (if vs when) and diagnosis?
                </dt>

                @if (Model.pCQ5 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pCQ5 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pCQ5 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt><strong>Adherence Rating: </strong><strong style="color: #29AAE3">@Html.DisplayFor(model => model.CFRPerformanceAnalysi1.PerformanceRating)</strong></dt>
                <dd></dd>

                <dt>
                    Does the CSR ask the questions listed using the word for word script?  *(specialty only: Did the CSR also verify all contact information including name, address, and phone number?)
                </dt>

                @if (Model.pAQ1 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pAQ1 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pAQ1 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR listen carefully to the answers provided by the contact and rebuttal when necessary?
                </dt>

                @if (Model.pAQ2 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pAQ2 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pAQ2 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR use proper pronunciation of the medical terms and conditions?
                </dt>

                @if (Model.pAQ3 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pAQ3 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pAQ4 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR select the correct answers before proceeding?
                </dt>

                @if (Model.pAQ4 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pAQ4 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pAQ4 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR exercise good judgement based on the answers to ensure excellent quality?
                </dt>

                @if (Model.pAQ5 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pAQ5 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pAQ5 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt><strong>Accuracy of Information Rating: </strong><strong style="color: #29AAE3">@Html.DisplayFor(model => model.CFRPerformanceAnalysi.PerformanceRating)</strong></dt>
                <dd></dd>

                <dt>
                    Does the CSR update Browser/Five9 to reflect the proper disposition as needed?
                </dt>

                @if (Model.pAOIQ1 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pAOIQ1 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pAOIQ1 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt>
                    Does the CSR connect to the correct department and select the correct disposition?
                </dt>

                @if (Model.pAOIQ2 == 1)
                {
                    <dd>
                        YES
                    </dd>
                }
                else if (Model.pAOIQ2 == 2)
                {
                    <dd>
                        NO
                    </dd>
                }
                else if (Model.pAOIQ2 == 3)
                {
                    <dd>
                        N/A
                    </dd>
                }

                <dt><strong>Additional Information</strong></dt>
                <dd></dd>

                <dt>
                    Comments
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comments)
                </dd>

                <dt>
                    Strengths
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Strengths)
                </dd>

                <dt>
                    Action Plan
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActionPlan)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "PatientRecruitmentCFR_Edit", new { id = Model.CFRPatientRecruitmentID }) |
            @Html.ActionLink("Back to Employee Details", "Details", new { id = Model.EmployeeID })
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#direct').addClass("active");
        });
    </script>
}
