@model IEnumerable<AS_TestProject.Entities.AgentDailyHour>

@{
    ViewBag.Title = "Index";
}

<div class="col-lg-12 mt">
    <div class="row content-panel" style="padding-left: 20px; padding-right: 20px">
        <div class="widget widget-table">
            <div class="widget-header">
                <h3 style="color: #29AAE3"><i class="fa fa-user"></i> @ViewBag.AgentName <button class="btn btn-theme btn-md pull-right" data-toggle="modal" data-target="#myModal" style="">+ New Entry</button></h3>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="margin-bottom: 15px">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Create New Time Entry For @ViewBag.AgentName</h4>
                            </div>
                            @using (Html.BeginForm("Create", "Payroll", new { empId = ViewBag.EmployeeID, ppId = ViewBag.PayPeriodID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="" style="">
                            <input id="login" type="hidden" name="LoginTimeStamp" readonly="readonly" />
                            @*@Html.ValidationMessageFor(model => model.LoginTimeStamp, "", new { @class = "text-danger" })*@
                            <input id="logout" type="hidden" name="LogoutTimeStamp" readonly="readonly" />
                            @*@Html.ValidationMessageFor(model => model.LogoutTimeStamp, "", new { @class = "text-danger" })*@
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    Date
                                </div>
                                <div class="col-md-9" style="margin-top: -5px">
                                    <div class="input-group">
                                        <input id="date" class="form-control datepicker" size="16" type="text" value="@ViewBag.Date" required>
                                        <span class="input-group-btn">
                                            <button class="btn btn-theme" type="button" style="margin-bottom: -2px"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div><br /><br /><br>
                                <div class="col-md-3 control-label">
                                    Login Time
                                </div>
                                <div class="col-md-9" style="margin-top: -5px">
                                    <div class="input-group bootstrap-timepicker">
                                        <input id="time1" class="form-control timepicker-default" type="text" value="12:00:00 PM" required />
                                        <span class="input-group-btn">
                                            <button class="btn btn-theme" type="button"><i class="fa fa-clock-o"></i></button>
                                        </span>
                                    </div>
                                </div><br /><br /><br />
                                <div class="col-md-3 control-label">
                                    Logout Time
                                </div>
                                <div class="col-md-9" style="margin-top: -5px">
                                    <div class="input-group bootstrap-timepicker">
                                        <input id="time2" class="form-control timepicker-default" type="text" value="12:00:00 PM" required />
                                        <span class="input-group-btn">
                                            <button class="btn btn-theme" type="button"><i class="fa fa-clock-o"></i></button>
                                        </span>
                                    </div>
                                </div><br /><br /><br />
                                <div class="col-md-3 control-label">
                                    Duration
                                </div>
                                <div class="col-md-9" style="margin-top: -5px">
                                    <input id="totalTime" class="form-control" readonly="readonly" name="LoginDuration" value="00:00:00" required />
                                </div><br /><br /><br />
                                <div class="col-md-3 control-label">
                                    Domain
                                </div>
                                <div class="col-md-9" style="margin-top: -5px">
                                    @Html.DropDownList("DomainMasterID", null, "", htmlAttributes: new { @class = "form-control", required = "true" })
                                    @*@Html.ValidationMessageFor(model => model.DomainMasterID, "", new { @class = "text-danger" })*@
                                </div>
                                <br /><br /><br />
                                <div class="col-md-3 control-label">
                                    Reason
                                </div>
                                <div class="col-md-9" style="margin-top: -5px">
                                    @Html.DropDownList("AgentTimeAdjustmentReasonID", null, "", htmlAttributes: new { @class = "form-control", required = "true" })
                                    @*@Html.ValidationMessageFor(model => model.AgentTimeAdjustmentReasonID, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top: 20px">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="time-update" type="submit" class="btn btn-theme">Confirm</button>
                    </div>
                    }
                        </div>
                    </div>
                </div>
                <h4><strong>Current Pay Period</strong> (@ViewBag.PayPeriodStart.ToShortDateString() - @ViewBag.PayPeriodEnd.ToShortDateString())</h4>
            </div>
            <div class="widget-content">
                <div class="table-responsive">
                    <table id="datatable-basic-scrolling" class="table table-hover datatable timetable">
                        <thead>
                            <tr>
                                <th>Login</th>
                                <th>Logout</th>
                                <th>Duration</th>
                                <th>Domain</th>
                                <th>Regular Hours</th>
                                <th>Overtime Hours</th>
                                <th>Adjustment Reason</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.LoginTimeStamp)</td>
                        <td>@Html.DisplayFor(modelItem => item.LogoutTimeStamp)</td>
                        <td>@Html.DisplayFor(modelItem => item.LoginDuration)</td>
                        <td>@Html.DisplayFor(modelItem => item.DomainMaster.DomainName)</td>
                        <td>@Html.DisplayFor(modelItem => item.RegularHours)</td>
                        <td>@Html.DisplayFor(modelItem => item.OverTimeHours)</td>
                        <td>@Html.DisplayFor(modelItem => item.AgentTimeAdjustmentReason.Reason)</td>
                        <td><a href="@Url.Action("Edit", new { id = item.AgentDailyHoursID })"><i class="fa fa-clock-o" style="margin-right: 3px; font-size: 16px"></i> Edit</a></td>
                    </tr>
                    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var $time1 = $("#time1");
            var $time2 = $("#time2");
            var $diff = $("#totalTime");
            var $date = $("#date");

            function updateHours() {

                var dtStart = new Date("7/8/2016 " + $time1.val());
                var dtEnd = new Date("7/8/2016 " + $time2.val());

                var diff = dtEnd - dtStart;
                var totalSec = diff / 1000;
                var hours = parseInt(totalSec / 3600) % 24;
                var minutes = parseInt(totalSec / 60) % 60;
                var seconds = totalSec % 60;
                var result = (hours < 10 ? "0" + hours : hours) + ":" + (minutes < 10 ? "0" + minutes : minutes) + ":" + (seconds < 10 ? "0" + seconds : seconds);

                if (dtStart > dtEnd) {
                    $("#time-update").prop('disabled', true);
                    $diff.val("Login time can't be greater than logout time!");
                }

                if (dtStart <= dtEnd) {
                    $("#time-update").prop('disabled', false);
                    $diff.val(result);
                }
            }

            function updateTime() {
                var $login = $("#login");
                var $logout = $("#logout");

                var dateStr = $date.val().toString();

                var time1Sub = $time1.val().toString();
                var time2Sub = $time2.val().toString();

                var login = dateStr + " " + time1Sub;
                var logout = dateStr + " " + time2Sub;

                $login.val(login);
                $logout.val(logout);
            }

            $date.on('changeDate', function (ev) {
                updateTime()
            });

            $time1.add($time2).change(function () {
                if ($time1.val() && $time2.val()) {
                    updateHours();
                    updateTime()
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var $login = $("#login");
            var $logout = $("#logout");
            var $time1 = $("#time1");
            var $time2 = $("#time2");
            var $date = $("#date");

            var dateStr = $date.val().toString();

            var time1Sub = $time1.val().toString();
            var time2Sub = $time2.val().toString();

            var login = dateStr + " " + time1Sub;
            var logout = dateStr + " " + time2Sub;

            $login.val(login);
            $logout.val(logout);
        })
    </script>
    <script>
            $(document).ready(function () {
                $('sidebar-menu li a').removeClass("active")
                $('#direct').addClass("active");
            });
    </script>
}
