@using Microsoft.AspNet.Identity;
@using System;
@using System.Globalization;
@using AS_TestProject.Models;
@using Microsoft.AspNet.Identity;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Data.Entity;

@{ 
    var tasks = ViewBag.UrgentTasks.Count + ViewBag.HighTasks.Count + ViewBag.MediumTasks.Count + ViewBag.LowTasks.Count;
    var messages = ViewBag.Messages.Count;
    var todayYear = System.DateTime.Now.Year;
    var todayMonth = System.DateTime.Now.Month;
    var todayDay = System.DateTime.Now.Day;
}

@{
    var db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Anomaly Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/js/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/lineicons/style.css">    
    <link href="~/assets/css/datatables.css" rel="stylesheet" />
    <link href="~/assets/js/dropzone/css/dropzone.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/style-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/assets/img/AS_logo.png">
    <link href="~/Multiselect PlugIn/css/multi-select.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/assets/js/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/assets/js/bootstrap-timepicker/timepicker.css" rel="stylesheet" />
    <link href="~/assets/js/bootstrap-datepicker/datepicker.css" rel="stylesheet" />  
    
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/chart-master/Chart.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body onload="getTime()">

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" style="color: #031B25" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="@Url.Action("Index","Home")" class="logo" style="margin-top: 17px"><b>ANOMALY SQUARED</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        @if (tasks > 0)
                        {
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <i class="fa fa-tasks"></i>
                                <span class="badge bg-nav" style="font-weight: 900">@tasks</span>
                            </a>
                        }
                        @if (tasks == 0)
                        {
                            <a>
                                <i class="fa fa-tasks"></i>
                            </a>
                        }
                        @if (tasks > 0)
                        {
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            @if(tasks == 1)
                            {
                                <li>
                                    <p class="green">You have @tasks pending task</p>
                                </li>
                            }
                            @if (tasks > 1)
                            {
                                <li>
                                    <p class="green">You have @tasks pending tasks</p>
                                </li>
                            }
                            <div id="task-scroll" style="max-height: 600px; overflow-y: auto; overflow-x: hidden">
                            @foreach (var task in ViewBag.UrgentTasks)
                            {
                                <li>
                                    <a>
                                        <div class="task-info row">
                                            <div class="col-md-10" style="overflow: hidden; word-wrap: break-word">@if (task.Description.Length > 30) { @Html.Raw(task.Description.Substring(0, 30) + "...") } else { @Html.Raw(task.Description) }}</div>
                                            <div class="col-md-2"><img src="~/assets/img/red_priority.png" style="width: 15px; margin-left: -3px" /></div>
                                        </div>
                                    </a>
                                </li>
                            }
                            @foreach (var task in ViewBag.HighTasks)
                            {
                                <li>
                                    <a>
                                        <div class="task-info row">
                                            <div class="col-md-10" style="overflow: hidden; word-wrap: break-word">@if (task.Description.Length > 30) { @Html.Raw(task.Description.Substring(0, 30) + "...") } else { @Html.Raw(task.Description) }</div>
                                            <div class="col-md-2"><img src="~/assets/img/orange_priority.png" style="width: 15px; margin-left: -3px"/></div>
                                        </div>
                                    </a>
                                </li>
                            }
                            @foreach (var task in ViewBag.MediumTasks)
                            {
                                <li>
                                    <a>
                                        <div class="task-info row">
                                            <div class="col-md-10" style="overflow: hidden; word-wrap: break-word">@if (task.Description.Length > 30) { @Html.Raw(task.Description.Substring(0, 30) + "...") } else { @Html.Raw(task.Description) }</div>
                                            <div class="col-md-2"><img src="~/assets/img/yellow_priority.png" style="width: 15px; margin-left: -3px" /></div>
                                        </div>
                                    </a>
                                </li>
                            }
                            @foreach (var task in ViewBag.LowTasks)
                            {
                                <li>
                                    <a>
                                        <div class="task-info row">
                                            <div class="col-md-10" style="overflow: hidden; word-wrap: break-word">@if (task.Description.Length > 30) { @Html.Raw(task.Description.Substring(0, 30) + "...") } else { @Html.Raw(task.Description) }</div>
                                            <div class="col-md-2"><img src="~/assets/img/blue_priority.png" style="width: 15px; margin-left: -3px" /></div>
                                        </div>
                                    </a>
                                </li>
                            }
                            </div>
                            @if (tasks > 0 && tasks <= 5)
                                                {
                                <li class="external" style="text-align: center">
                                    <a href="@Url.Action("ProfilePage", "Home", new { id = User.Identity.GetUserId() })" style="background-color: #F7F8F9; color: #FE5607"><strong>Manage Tasks</strong></a>
                                </li>
                            }
                            @if (tasks > 5)
                                            {
                                <li class="external" style="text-align: center">
                                    <a href="@Url.Action("ProfilePage", "Home", new { id = User.Identity.GetUserId() })" style="background-color: #F7F8F9; color: #FE5607"><strong>See All Tasks</strong></a>
                                </li>
                            }
                        </ul>
                        }
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        @if (messages > 0)
                                            {
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-nav" style="font-weight: 900">@messages</span>
                            </a>
                        }


                        @if (messages == 0)
                                            {
                            <a>
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        }
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            @if (messages == 1)
                                            {
                                <li>
                                    <p class="green">You have 1 unread message</p>
                                </li>
                            }
                            @if (messages > 1)
                                            {
                                <li>
                                    <p class="green">You have @messages unread messages</p>
                                </li>
                            }
                            <div id="message-scroll" style="max-height: 600px; overflow-y: auto; overflow-x: hidden">
                            @foreach (var newMsg in ViewBag.Messages)
                            {
                                <li>
                                    <a>
                                        <span class="photo"><img alt="avatar" src="@string.Format("{0}{1}","http://192.168.1.9/ASPortal",newMsg.Author.ProfilePic)" style="height: 40px; width: 40px"></span>
                                        <span class="subject">
                                            <span class="from" style="overflow: hidden; word-wrap: break-word">@newMsg.Author.FirstName</span>
                                            @if (newMsg.Sent.Day == todayDay && newMsg.Sent.Month == todayMonth && newMsg.Sent.Year == todayYear)
                                            {
                                                <span class="time pull-right">@newMsg.Sent.ToString("t")</span>
                                            }
                                            else if (newMsg.Sent.Year == todayYear)
                                            {
                                                <span class="time pull-right">@newMsg.Sent.ToString("M/d/yyyy")</span>
                                            }
                                            else
                                            {
                                                <span class="time pull-right">@newMsg.Sent.ToString("m")</span>
                                            }
                                        </span>
                                        <span class="message" style="overflow: hidden; word-wrap: break-word">
                                            @if (newMsg.Urgent == true)
                                            {
                                                if (newMsg.Content.Length > 21)
                                                { @Html.Raw(newMsg.Content.Substring(0, 21) + "... ")<i class="fa fa-exclamation" style="color: #ff5050; margin-right: 3px; font-size: 16px"></i> }
                                                else
                                                { @Html.Raw(newMsg.Content) <i class="fa fa-exclamation" style="color: #ff5050; font-size: 16px"></i>}
                                            }
                                            else
                                            {
                                                if (newMsg.Content.Length > 24)
                                                { @Html.Raw(newMsg.Content.Substring(0, 24) + "...") }
                                                else
                                                { @Html.Raw(newMsg.Content) }                                            
                                            }
                                        </span>
                                    </a>
                                </li>
                            }
                            </div>
                            <li style="text-align: center">
                                <a href="@Url.Action("Index","Messages")" style="background-color: #F7F8F9; color: #FE5607"><strong>Go to Inbox</strong></a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>

            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    @Html.Partial("_LoginPartial")
                </ul>
                <div class="pull-right hidden-xs hidden-sm" style="font-size: 18px; padding-top: 19px; padding-right: 50px; color: white">
                    <a href="javascript:history.go(-1)" class=""><i class="fa fa-chevron-left" style="color: white; padding-right: 8px"></i></a>
                    <a href="javascript:history.go(+1)" class=""><i class="fa fa-chevron-right" style="color: white; padding-right: 8px"></i></a>
                    <a href="javascript:history.go(0)" class=""><i class="fa fa-refresh" style="color: white"></i></a>
                </div>
                <div id="showtime" class="pull-right text-nowrap hidden-xs hidden-sm" style="margin-top: 19px; margin-bottom: 0px; margin-right: 35px; color: white; font-size: 18px; font-weight: 600; letter-spacing: 2px; width: 100px; background-color: none"></div>
                <img id="sunIcon" class="pull-right hidden-xs hidden-sm hidden" style="width: 30px; margin-top: 15px" src="~/assets/img/sun-icon.png"/>
                <img id="moonIcon" class="pull-right hidden-xs hidden-sm hidden" style="width: 26px; margin-top: 17px" src="~/assets/img/moon-icon.png" />
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><img src="~/assets/img/AS_logo.png" style="width: 100px; margin-top: 20px"></p>
              	  <h5 class="centered">@ViewBag.DisplayName</h5>
              	  	
                  <li class="mt">
                      <a id="dash" href="@Url.Action("Index","Home")">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  @if (User.IsInRole("Admin"))
                  {
                  <li>
                      <a id="admin" href="@Url.Action("Index","Admin")">
                          <i class="fa fa-key"></i>
                          <span>Admin</span>
                      </a>
                  </li>
                  }

                  @if (User.IsInRole("IT"))
                  {
                  <li>
                      <a id="it" href="@Url.Action("Index", "IT")">
                          <i class="fa fa-cogs"></i>
                          <span>IT</span>
                      </a>
                  </li>
                  }

                  @if (User.IsInRole("HR"))
                  {
                      <li>
                          <a id="hr" href="@Url.Action("Index", "HR")">
                              <i class="fa fa-users"></i>
                              <span>HR</span>
                          </a>
                      </li>
                  }

                  @if (User.IsInRole("Quality"))
                  {
                      <li>
                          <a id="quality" href="@Url.Action("Index", "Quality")">
                              <i class="fa fa-line-chart"></i>
                              <span>Quality</span>
                          </a>
                      </li>
                  }

                  <li>
                      <a id="profile" href="@Url.Action("ProfilePage","Home", new { id = User.Identity.GetUserId() })">
                          <i class="fa fa-user-plus"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li>
                      <a id="messages" href="@Url.Action("Index","Messages")">
                          <i class="fa fa-envelope"></i>
                          <span>Messages</span>
                      </a>
                  </li>

                  <li>
                      <a id="direct" href="@Url.Action("Directory","Home")">
                          <i class="fa fa-users"></i>
                          <span>Directory</span>
                      </a>
                  </li>
                  
                  <li>
                      <a id="calend" href="@Url.Action("Calendar","Home")">
                          <i class="fa fa-calendar"></i>
                          <span>Calendar</span>
                      </a>
                  </li>


                  <li>
                      <a id="forms" href="@Url.Action("Forms","Home")">
                          <i class="fa fa-tasks"></i>
                          <span>Forms</span>
                      </a>
                  </li>

                  <li>
                      <a id="tools" href="@Url.Action("Tools","Home")">
                          <i class="fa fa-wrench"></i>
                          <span>CSR Tools</span>
                      </a>
                  </li>

                  <li>
                      <a id="gallery" href="@Url.Action("Gallery","Home")">
                          <i class="fa fa-photo"></i>
                          <span>Gallery</span>
                      </a>
                  </li>

                  @*<li>
                      <a id="timesheet" href="http://64.215.31.82/Portal" target="_blank">
                          <i class="fa fa-clock-o"></i>
                          <span>Timesheet</span>
                      </a>
                  </li>*@


                  <li>
                      <a id="slack" href="https://slack.com" target="_blank">
                          <i class="fa fa-slack"></i>
                          <span>Slack</span>
                      </a>
                  </li>

                  @*<li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>UI Elements</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="general.html">General</a></li>
                          <li><a  href="buttons.html">Buttons</a></li>
                          <li><a  href="panels.html">Panels</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>Components</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="calendar.html">Calendar</a></li>
                          <li><a  href="gallery.html">Gallery</a></li>
                          <li><a  href="todo_list.html">Todo List</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Extra Pages</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="blank.html">Blank Page</a></li>
                          <li><a  href="login.html">Login</a></li>
                          <li><a  href="lock_screen.html">Lock Screen</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>Forms</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="form_component.html">Form Components</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>Data Tables</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="basic_table.html">Basic Table</a></li>
                          <li><a  href="responsive_table.html">Responsive Table</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Charts</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="morris.html">Morris</a></li>
                          <li><a  href="chartjs.html">Chartjs</a></li>
                      </ul>
                  </li>*@

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
                  <div class="col-lg-9 main-chart">
                      @RenderBody()<!-- /col-lg-9 END SECTION MIDDLE -->
                  </div>
                  <!-- **********************************************************************************************************************************************************
    RIGHT SIDEBAR CONTENT
    *********************************************************************************************************************************************************** -->

                  <div class="col-lg-3 ds">
                      <!--COMPLETED ACTIONS DONUTS CHART-->
                      @*<div id="showtime" class="text-nowrap" style="margin-top: 0px; margin-bottom: 10px; color: #031B25; font-size: 36px; font-weight: 700; letter-spacing: 2px"></div>*@
                      <div class="row">
                          <div class="mb">
                              <div class="content-panel pn" style="margin-left: 15px; margin-right: 15px">
                                  <div id="profile-02">
                                  </div>
                                  <div class="pr2-social centered">
                                      <a class="socialMedia" href="https://twitter.com/anomaly_squared" target="_blank"><i class="fa fa-twitter"></i></a>
                                      <a class="socialMedia" href="https://www.facebook.com/anomaly.squared/" target="_blank"><i class="fa fa-facebook"></i></a>
                                      <a class="socialMedia" href="https://plus.google.com/+Anomalysquared/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
                                      <a class="socialMedia" href="https://www.linkedin.com/company/anomaly-squared" target="_blank"><i class="fa fa-linkedin"></i></a>
                                  </div>
                              </div><!-- --/panel ---->
                          </div>
                      </div>
                      <h3>NOTIFICATIONS</h3>

                      <!-- First Action -->
                      <div class="desc">
                          <div class="thumb">
                              <i class="fa fa-exclamation-circle" style="color: #29AAE3; font-size: 24px"></i>
                          </div>
                          <div class="details">
                              <p>
                                  <muted>2 Minutes Ago</muted><br />
                                  <a href="#">James Brown</a> uploaded a new file.<br />
                              </p>
                          </div>
                      </div>
                      <!-- Second Action -->
                      <div class="desc">
                          <div class="thumb">
                              <i class="fa fa-exclamation-circle" style="color: #29AAE3; font-size: 24px"></i>
                          </div>
                          <div class="details">
                              <p>
                                  <muted>3 Hours Ago</muted><br />
                                  <a href="#">Diana Kennedy</a> sent you a message.<br />
                              </p>
                          </div>
                      </div>
                      <!-- Third Action -->
                      <div class="desc">
                          <div class="thumb">
                              <i class="fa fa-exclamation-circle" style="color: #29AAE3; font-size: 24px"></i>
                          </div>
                          <div class="details">
                              <p>
                                  <muted>7 Hours Ago</muted><br />
                                  <a href="#">Brandon Page</a> added a new form.<br />
                              </p>
                          </div>
                      </div>
                      <!-- Fourth Action -->
                      <div class="desc">
                          <div class="thumb">
                              <i class="fa fa-exclamation-circle" style="color: #29AAE3; font-size: 24px"></i>
                          </div>
                          <div class="details">
                              <p>
                                  <muted>11 Hours Ago</muted><br />
                                  <a href="#">Mark Twain</a> posted a photo of you in the gallery.<br />
                              </p>
                          </div>
                      </div>
                      <!-- Fifth Action -->
                      <div class="desc">
                          <div class="thumb">
                              <i class="fa fa-exclamation-circle" style="color: #29AAE3; font-size: 24px"></i>
                          </div>
                          <div class="details">
                              <p>
                                  <muted>18 Hours Ago</muted><br />
                                  <a href="#">Daniel Pratt</a> broke the daily transfer record.<br />
                              </p>
                          </div>
                      </div>

                      <!-- USERS ONLINE SECTION -->
                      <h3>TEAM MEMBERS</h3>
                      <div style="max-height: 570px; overflow-y: auto; overflow-x: hidden">
                          @foreach (var member in ViewBag.Team)
                          {
                            <a href="@Url.Action("ProfilePage", "Home", new { id = member.Id })">
                                <div class="desc">
                                    <div class="thumb">
                                        <img class="img-circle" src="@string.Format("{0}{1}","http://192.168.1.9/ASPortal",member.ProfilePic)" style="width: 35px; height: 35px">
                                    </div>
                                    <div class="details">
                                        <p>
                                            <span><strong>@member.DisplayName</strong></span><br />
                                            <muted class="text-nowrap">@member.Position.PositionName</muted>
                                        </p>
                                    </div>
                                </div>
                            </a>
                          }
                      </div>                    
                      <!-- CALENDAR-->
                      <div id="calendar" class="mb">
                          <div class="panel green-panel no-margin">
                              <div class="panel-body">
                                  <div id="date-popover" class="popover top" style="cursor: pointer; display: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                      <div class="arrow"></div>
                                      <h3 class="popover-title" style="display: none;"></h3>
                                      <div id="date-popover-content" class="popover-content"></div>
                                  </div>
                                  <div id="my-calendar"></div>
                              </div>
                          </div>
                      </div><!-- / calendar -->

                  </div><!-- /col-lg-3 -->
              </div><!-- /row -->
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              <strong>&copy; Anomaly Squared | @DateTime.Now.Year</strong>
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/jquery-1.8.3.min.js"></script>
    <script src="~/assets/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/assets/js/fullcalendar/fullcalendar.min.js"></script>
    @*<script src="~/assets/js/calendar-conf-events.js"></script>*@
    <script src="~/assets/js/fancybox/jquery.fancybox.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.sparkline.js"></script>
    <script src="~/assets/js/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/plugins/datatable/dataTables.bootstrap.js"></script>
    <script src="~/Multiselect PlugIn/js/jquery.multi-select.js"></script>
    <script src="~/Multiselect PlugIn/js/jquery.quicksearch.js"></script>
    <script src="~/Scripts/MultiSelect.js"></script>
    <script src="~/assets/js/dropzone/dropzone.js"></script>
    @RenderSection("scripts", required: false)

    <!--common script for all pages-->
    <script src="~/assets/js/common-scripts.js"></script>
    
    <script type="text/javascript" src="~/assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="~/assets/js/gritter-conf.js"></script>

    <!--script for this page-->
    <script src="~/assets/js/sparkline-chart.js"></script>    
	<script src="~/assets/js/zabuto_calendar.js"></script>
    <script src="~/assets/js/bootstrap-timepicker/timepicker.js"></script>
    <script src="~/assets/js/bootstrap-datepicker/datepicker.js"></script>
    <script src="~/assets/js/bootstrap-switch.js"></script>
    	
	@*<script type="text/javascript">
        $(document).ready(function () {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: 'Welcome to Dashgum!',
            // (string | mandatory) the text inside the notification
            text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo. Free version for <a href="http://blacktie.co" target="_blank" style="color:#ffd777">BlackTie.co</a>.',
            // (string | optional) the image to display on the left
            image: '~/assets/img/ui-sam.jpg',
            // (bool | optional) if you want it to fade out on its own or just sit there
            sticky: true,
            // (int | optional) the time you want it to be alive for before fading out
            time: '',
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class'
        });

        return false;
        });
	</script>*@

    <script>
        $(document).ready(function () {
            $('#custom-headers').multiSelect({
                selectableHeader: "<div class='custom-header' style='text-align: center; background-color: #031B25; color: white'><strong>Available Roles</strong></div>",
                selectionHeader: "<div class='custom-header' style='text-align: center; background-color: #031B25; color: white'><strong>User Roles</strong></div>"
            });
        });
    </script>    
	<script @*type="application/javascript"*@>
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>

    <script type="text/javascript">
        $(".fancybox").fancybox({
            afterShow: function () {
                $(".fancybox-title").wrapInner('<div />').show();

                $(".fancybox-wrap").hover(function () {
                    $(".fancybox-title").show();
                }, function () {
                    $(".fancybox-title").hide();
                });
            },
            helpers: {
                title: {
                    type: 'over'
                }
            }
        });
    </script>

    <script>
        $(document).on("keypress", "no-neg", function () {
            if (event.which == 45 || event.which == 109 || event.which == 189) {
                event.preventDefault();
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#log-out').hover(
               function () { $('#wave').removeClass("hidden"); }, //shows when hovering over
               function () { $('#wave').addClass("hidden"); } //Hides when hovering finished
            );
        });
    </script>
      <script>
        $(document).ready(function () {
            $(".onlyNum").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                    // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                    // Allow: Ctrl+C
                    (e.keyCode == 67 && e.ctrlKey === true) ||
                    // Allow: Ctrl+X
                    (e.keyCode == 88 && e.ctrlKey === true) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
        });
      </script>
      <script>
        $(document).ready(function () {
            $(".phone").keyup(function () {
                $(this).val($(this).val().replace(/^(\d{3})(\d{3})(\d)+$/, "($1) $2-$3"));
            });
        });
      </script>
      <script>
        $(document).ready(function () {
            $('.capitalize').on('keydown', function (event) {
                if (this.selectionStart == 0 && event.keyCode >= 65 && event.keyCode <= 90 && !(event.shiftKey) && !(event.ctrlKey) && !(event.metaKey) && !(event.altKey)) {
                    var $t = $(this);
                    event.preventDefault();
                    var char = String.fromCharCode(event.keyCode);
                    $t.val(char + $t.val().slice(this.selectionEnd));
                    this.setSelectionRange(1, 1);
                }
            });
        });
      </script>
      <script>
          $(document).ready(function () {
              $('.datepicker').datepicker({
                  format: 'm/d/yyyy'
              });

              $('#date').on('changeDate', function (ev) {
                  $('#date').datepicker('hide').blur();
              });

              $('#DAdate').on('changeDate', function (ev) {
                  $('#DAdate').datepicker('hide').blur();
              });

              $('#CFRstart').on('changeDate', function (ev) {
                  $('#CFRstart').datepicker('hide').blur();
              });

              $('#CFRend').on('changeDate', function (ev) {
                  $('#CFRend').datepicker('hide').blur();
              });

              $('#prevDate').on('changeDate', function (ev) {
                  $('#prevDate').datepicker('hide').blur();
              });

              $('#oneDate').on('changeDate', function (ev) {
                  $('#oneDate').datepicker('hide').blur();
              });

              $('#multiStartDate').on('changeDate', function (ev) {
                  $('#multiStartDate').datepicker('hide').blur();
              });

              $('#multiEndDate').on('changeDate', function (ev) {
                  $('#multiEndDate').datepicker('hide').blur();
              });

              $('.timepicker-default').timepicker({
                  autoclose: true,
                  minuteStep: 1,
                  showSeconds: true,
                  secondStep: 1,
                  defaultTime: false
              });

              $('.timepicker-calendar').timepicker({
                  autoclose: true,
                  minuteStep: 15,
                  defaultTime: false
              });

              $('.timepicker-24').timepicker({
                  autoclose: true,
                  minuteStep: 1,
                  showSeconds: true,
                  showMeridian: false
              });
          });
      </script>
      @*<script>
          $(document).ready( function () {
              $("#task-scroll").niceScroll();
          });
      </script>*@
      <script>
            $(document).ready(function() {
                var audioElement = document.createElement('audio');
                audioElement.setAttribute('src', '/ASPortal/assets/audio/Sound%20design%20multimedia%20accent%20button%20digital%2002_SFXBible_ss02551.mp3');
                //audioElement.setAttribute('autoplay', 'autoplay');
                //audioElement.load()

                $.get();

                //audioElement.addEventListener("load", function() {
                //    audioElement.play();
                //}, true);

                $('.user-btn').click(function() {
                    audioElement.play();
                });
            });
      </script>
      <script>
            $(document).ready(function() {
                var audioElement = document.createElement('audio');
                audioElement.setAttribute('src', '/ASPortal/assets/audio/Mac%20OS%20X%20-%20Mail%20application%20-%20email%20sent%20sound.mp3');
                //audioElement.setAttribute('autoplay', 'autoplay');
                //audioElement.load()

                $.get();

                //audioElement.addEventListener("load", function() {
                //    audioElement.play();
                //}, true);

                $('.sendMsg-btn').click(function() {
                    audioElement.play();
                });
            });
      </script>
      <script>
            function getTime()
            {
                var today=new Date();
                var h = today.getHours();
                if (h > 12) {
                    var hr = h - 12;
                    var mer = " PM"
                }
                else if (h == 12) {
                    var hr = h;
                    var mer = " PM"
                }
                else if (h == 0) {
                    var hr = h + 12;
                    var mer = " AM"
                }
                else {
                    var hr = h;
                    var mer = " AM"
                }
                var m = today.getMinutes();
                var s = today.getSeconds();
                var ms = today.getMilliseconds();

                // add a zero in front of numbers<10
                m=checkTime(m);
                s=checkTime(s);
                document.getElementById('showtime').innerHTML = hr + ":" + m + mer;
                $('#addTime').val(h + ":" + m + ":" + s + "." + ms + "0000");
                t = setTimeout(function () { getTime() }, 500);

                if (h >= 20 || (h >= 0 && h < 6)) {
                    $('#moonIcon').removeClass('hidden');
                    $('#sunIcon').addClass('hidden');
                }
                else if (h >= 6 && h < 20) {
                    $('#sunIcon').removeClass('hidden');
                    $('#moonIcon').addClass('hidden');
                }
            }

            function checkTime(i)
            {
                if (i<10)
                {
                    i="0" + i;
                }
                return i;
            }
      </script>
      @*@if (user.SiteID == 1)
      {
        <script>
            function getTime()
            {
                var today=new Date();
                var h = today.getHours();
                if (h > 12) {
                    var hr = h - 12;
                    var mer = " PM"
                }
                else if (h == 12) {
                    var hr = h;
                    var mer = " PM"
                }
                else if (h == 0) {
                    var hr = h + 12;
                    var mer = " AM"
                }
                else {
                    var hr = h;
                    var mer = " AM"
                }
                var m = today.getMinutes();
                var s = today.getSeconds();
                var ms = today.getMilliseconds();

                // add a zero in front of numbers<10
                m=checkTime(m);
                s=checkTime(s);
                document.getElementById('showtime').innerHTML = hr + ":" + m + mer;
                $('#addTime').val(h + ":" + m + ":" + s + "." + ms + "0000");
                t = setTimeout(function () { getTime() }, 500);

                if (h >= 20 || (h >= 0 && h < 6)) {
                    $('#moonIcon').removeClass('hidden');
                    $('#sunIcon').addClass('hidden');
                }
                else if (h >= 6 && h < 20) {
                    $('#sunIcon').removeClass('hidden');
                    $('#moonIcon').addClass('hidden');
                }
            }

            function checkTime(i)
            {
                if (i<10)
                {
                    i="0" + i;
                }
                return i;
            }
        </script>
      }
      else
      {
        <script>
            function getTime()
            {
                var today=new Date();
                var h = today.getHours() -1;
                if (h > 12) {
                    var hr = h - 12;
                    var mer = " PM"
                }
                else if (h == 12) {
                    var hr = h;
                    var mer = " PM"
                }
                else if (h == 0) {
                    var hr = h + 12;
                    var mer = " AM"
                }
                else {
                    var hr = h;
                    var mer = " AM"
                }
                var m = today.getMinutes();
                var s = today.getSeconds();
                var ms = today.getMilliseconds();

                // add a zero in front of numbers<10
                m=checkTime(m);
                s=checkTime(s);
                document.getElementById('showtime').innerHTML = hr + ":" + m + mer;
                $('#addTime').val(h + ":" + m + ":" + s + "." + ms + "0000");
                t = setTimeout(function () { getTime() }, 500);

                if (h >= 20 || (h >= 0 && h < 6)) {
                    $('#moonIcon').removeClass('hidden');
                    $('#sunIcon').addClass('hidden');
                }
                else if (h >= 6 && h < 20) {
                    $('#sunIcon').removeClass('hidden');
                    $('#moonIcon').addClass('hidden');
                }
            }

            function checkTime(i)
            {
                if (i<10)
                {
                    i="0" + i;
                }
                return i;
            }
        </script>
      }*@
  </body>
</html>
