@model AS_TestProject.Entities.DomainMaster

@{
    ViewBag.Title = "Details";
}

<div class="col-lg-12 mt">
    <div class="row content-panel" style="padding-left: 20px; padding-right: 20px">
        <h2>Domain Details: <span style="color: #29AAE3">@Model.FileMask - @Model.DomainName</span></h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Domain Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DomainName)
                </dd>

                <dt>
                    Customer Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Customer.CustomerName)
                </dd>

                <dt>
                    Domain Type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DomainType.DomainTypeName)
                </dd>

                <dt>
                    Invoice Type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InvoiceType.InvoiceTypeName)
                </dd>

                <dt>
                    Cost Code
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CostCode)
                </dd>

                <dt>
                    File Mask
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FileMask)
                </dd>


                <dt>
                    Deactive Date
                </dt>

                <dd>
                    @Model.DeactiveDate.ToString("M/d/yyyy")
                </dd>

                <dt>
                    Add Date
                </dt>

                <dd>
                    @Model.AddDate.ToString("M/d/yyyy")
                </dd>

                <dt>
                    Add Time
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AddTime)
                </dd>

                <dt>
                    Added by
                </dt>

                <dd>
                    @ViewBag.EmployeeName
                </dd>

                <dt>
                    Is this Domain Active?
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

            </dl>
        </div>
        <p style="padding-bottom: 5px">
            @Html.ActionLink("Edit", "EditDomain", new { id = Model.DomainMasterID }) |
            @Html.ActionLink("Back to Index", "Index")
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#admin').addClass("active");
        });
    </script>
}