@model IEnumerable<AS_TestProject.Models.AdminUserListModels>
@{
    ViewBag.Title = "Index";
}

<div class="col-lg-12 mt">
    <div class="row content-panel">
        <div class="panel-heading">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a data-toggle="tab" href="#overview">Employees</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#contact" class="contact-map">Clients</a>
                </li>
            </ul>
        </div><!-- --/panel-heading ---->

        <div class="panel-body">
            <div class="tab-content">
                <div id="overview" class="tab-pane active">
                    <div class="widget widget-table">
                        <div class="widget-header">
                            <h3 style="color: #29AAE3"><i class="fa fa-users"></i> Users<button class="btn btn-theme btn-md pull-right" onclick="location.href='@Url.Action("Register", "Account")'" style="margin-top: -10px">+ New User</button></h3>
                        </div>
                        <div class="widget-content">
                            <div class="table-responsive">
                                <table id="datatable-basic-scrolling" class="table table-sorting table-hover datatable admin-tables">
                                    <thead>
                                        <tr>
                                            <th>Last</th>
                                            <th>First</th>
                                            <th>Site</th>
                                            <th>Position</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Employee ID</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td><strong style="color: #29AAE3">@item.user.LastName</strong></td>
                                                <td><strong style="color: #29AAE3">@item.user.FirstName</strong></td>
                                                <td>@item.user.Site.SiteName</td>
                                                <td>@item.user.Position.PositionName</td>
                                                <td>@item.user.Email</td>
                                                <td>@item.user.PhoneNumber</td>
                                                <td>@item.user.EmployeeID</td>
                                                <td>
                                                    @foreach (var role in item.roles)
                                                    {
                                                        <p>@role</p>
                                                    }
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Manage Roles", "EditUserRoles", new { id = item.user.Id }) <br />
                                                    @Html.ActionLink("Profile", "ProfilePage", "Home", new { id = item.user.Id }, null)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>             
                </div><!-- --/tab-pane ---->

                <div id="contact" class="tab-pane">
                    <div class="widget widget-table">
                        <div class="widget-header">
                            <h3 style="color: #29AAE3"><i class="fa fa-building"></i> Clients</h3>
                        </div>
                        <div class="widget-content">
                            <div class="table-responsive">
                                <table id="datatable-basic-scrolling" class="table table-sorting table-hover datatable admin-tables">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address Line 1</th>
                                            <th>Address Line 2</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Zip Code</th>
                                            <th>Active?</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var client in ViewBag.Customers)
                                        {
                                            <tr>
                                                <td><strong style="color: #29AAE3">@client.CustomerName</strong></td>
                                                <td>@client.AddressLine1</td>
                                                <td>@client.AddressLine2</td>
                                                <td>@client.City</td>
                                                <td>@client.State</td>
                                                <td>@client.ZipCode</td>
                                                @if (client.IsActive == true)
                                                {
                                                    <td><i class="fa fa-thumbs-up" style="color: limegreen; font-size: 16px"></i></td>
                                                }
                                                else
                                                {
                                                    <td><i class="fa fa-thumbs-down" style="color: red; font-size: 16px"></i></td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                   
                </div><!-- --/tab-pane ---->            
            </div><!-- /tab-content -->
        </div><!-- --/panel-body ---->
    </div><!-- /col-lg-12 -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#admin').addClass("active");

            $('.admin-tables').DataTable({
                "iDisplayLength": 50,
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
            });
        });
    </script>
}